.in-the-park,
.start-your-adventure {
  margin: 0;
}
.day-2-ngorongoro,
.start-your-adventure-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.start-your-adventure-container {
  align-self: stretch;
  height: 19.688rem;
  text-transform: capitalize;
  display: inline-block;
}
.day-2-ngorongoro {
  text-transform: uppercase;
}
.day-2-ngorongoro-crater-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-16xl);
  font-family: var(--font-chewy);
}
.start-your-adventure-with-an-e-parent {
  width: 53.688rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-40xl);
  max-width: 100%;
}
.frame-wrapper10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child16,
.frame-child17 {
  height: 22.438rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 24.75rem;
  min-height: 22.438rem;
}
.frame-parent25,
.rectangle-parent5 {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.rectangle-parent5 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-57xl);
}
.frame-parent25 {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.migration-being-a1,
.prepare-for-a1 {
  margin: 0;
}
.prepare-for-a-container1 {
  margin: 0;
  height: 13.125rem;
  width: 53.688rem;
  position: relative;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.pattern-matcher {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.tree-structure,
.tree-structure-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.tree-structure {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-40xl);
}
.tree-structure-parent {
  width: 80.938rem;
  align-items: flex-end;
  gap: var(--gap-86xl);
}
.frame-wrapper9 {
  width: 104.438rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent24 {
  width: 106.438rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-89xl);
  max-width: 100%;
}
.manyara2day,
.manyara2day-inner {
  display: flex;
  align-items: flex-start;
}
.manyara2day-inner {
  width: 117.938rem;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-chesna-grotesk-regular);
}
.manyara2day {
  width: 100%;
  position: relative;
  background-color: var(--color-linen-100);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5.125rem;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .manyara2day {
    gap: 2.563rem 5.125rem;
  }
}
@media screen and (max-width: 825px) {
  .day-2-ngorongoro {
    font-size: var(--font-size-9xl);
  }
  .frame-child16,
  .frame-child17 {
    min-width: 100%;
  }
  .rectangle-parent5 {
    gap: var(--gap-19xl);
  }
  .frame-parent25 {
    gap: 1.25rem 2.5rem;
  }
  .tree-structure {
    gap: 1.813rem 3.688rem;
  }
  .tree-structure-parent {
    gap: 3.25rem 6.563rem;
  }
  .frame-parent24 {
    gap: 3.375rem 6.75rem;
  }
  .manyara2day {
    gap: 1.25rem 5.125rem;
  }
}
@media screen and (max-width: 450px) {
  .start-your-adventure-container {
    font-size: var(--font-size-xl);
  }
  .day-2-ngorongoro {
    font-size: var(--font-size-2xl);
  }
  .start-your-adventure-with-an-e-parent {
    gap: 1.813rem 3.688rem;
  }
  .rectangle-parent5 {
    gap: var(--gap-lgi);
  }
  .prepare-for-a-container1 {
    font-size: var(--font-size-xl);
  }
  .tree-structure-parent {
    gap: 1.625rem 6.563rem;
  }
  .frame-parent24 {
    gap: 1.688rem 6.75rem;
  }
}
