.logo-icon3 {
  height: 3.313rem;
  width: 14.438rem;
  position: relative;
}
.sign-up-form {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 var(--padding-9xs);
}
.call-undefined-glyph-unde2 {
  width: 2.125rem;
  height: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.call-button {
  height: 2.375rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.div2 {
  position: relative;
  white-space: nowrap;
}
.phonenumber,
.sign-up-form-parent,
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.wrapper {
  align-items: flex-start;
  padding: var(--padding-9xs) 0;
}
.phonenumber,
.sign-up-form-parent {
  align-items: flex-end;
  gap: var(--gap-8xs);
}
.sign-up-form-parent {
  height: 9.75rem;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-74xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-41xl);
  max-width: 100%;
  font-size: var(--font-size-6xl);
  font-family: var(--font-chesna-grotesk-black);
}
.travel-information11 {
  margin: 0;
}
.travel-information10 {
  position: relative;
  text-transform: uppercase;
}
.tanzania-weather4,
.travel-advice5,
.when-to-visit4,
.yellow-fever-requirements4 {
  margin-block-start: 0;
  margin-block-end: 49px;
}
.flying-doctors-services4 {
  margin: 0;
}
.travel-advice-yellow-container4 {
  width: 12.438rem;
  position: relative;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  font-family: var(--font-chesna-grotesk-extra-light);
  display: inline-block;
}
.logo-brand-icon-company-logo,
.travel-information-parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.travel-information-parent3 {
  gap: var(--gap-21xl);
}
.logo-brand-icon-company-logo {
  padding: var(--padding-6xs) 0 0;
}
.travel-information13 {
  margin: 0;
}
.travel-information12 {
  position: relative;
  text-transform: uppercase;
}
.tanzania-weather5,
.travel-advice6,
.when-to-visit5,
.yellow-fever-requirements5 {
  margin-block-start: 0;
  margin-block-end: 49px;
}
.flying-doctors-services5 {
  margin: 0;
}
.travel-advice-yellow-container5 {
  width: 12.438rem;
  position: relative;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  font-family: var(--font-chesna-grotesk-extra-light);
  display: inline-block;
}
.logo-brand-icon-company-logo1,
.travel-information-parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.travel-information-parent4 {
  gap: var(--gap-21xl);
}
.logo-brand-icon-company-logo1 {
  width: 18.5rem;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.receive-travel-ideas2,
.sign-up-for2 {
  align-self: stretch;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.sign-up-for2 {
  height: 1.988rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.receive-travel-ideas2 {
  height: 3.125rem;
  font-size: var(--font-size-base);
  font-family: var(--font-chesna-grotesk-light);
}
.agree-terms {
  width: 21.181rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base-2);
  flex-shrink: 0;
  debug_commit: f6aba90;
  max-width: 100%;
}
.your-name2 {
  width: 3.694rem;
  border: 0;
  outline: 0;
  font-family: var(--font-chesna-grotesk-thin);
  font-size: var(--font-size-3xs);
  background-color: transparent;
  height: 0.994rem;
  position: relative;
  text-transform: capitalize;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.name-email-pair {
  flex: 1;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base-9) var(--padding-5xs-9);
  box-sizing: border-box;
  min-width: 8.25rem;
}
.your-email2 {
  width: 3.556rem;
  border: 0;
  outline: 0;
  font-family: var(--font-chesna-grotesk-thin);
  font-size: var(--font-size-3xs);
  background-color: transparent;
  height: 0.994rem;
  position: relative;
  text-transform: capitalize;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.frame1,
.name-email-pair1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.name-email-pair1 {
  flex: 1;
  background-color: var(--color-white);
  padding: var(--padding-5xs) var(--padding-base-9) var(--padding-5xs-9);
  box-sizing: border-box;
  min-width: 8.25rem;
}
.frame1 {
  align-self: stretch;
  overflow: hidden;
  gap: var(--gap-base);
}
.privacy-policy4 {
  text-decoration: underline;
}
.by-signing-up-container2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xs);
  text-transform: capitalize;
  font-family: var(--font-chesna-grotesk-light);
  color: var(--color-black);
  text-align: left;
}
.agree-to-terms {
  width: 15.625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.sign-up2 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-3xs);
  text-transform: uppercase;
  font-family: var(--font-chesna-grotesk-black);
  color: var(--color-white);
  text-align: center;
}
.frame3,
.sign-up-message {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.sign-up-message {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs-6) var(--padding-3xs) var(--padding-6xs-7);
  background-color: var(--color-darkorange);
  width: 4.338rem;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
}
.sign-up-message:hover {
  background-color: var(--color-chocolate);
}
.frame3 {
  flex: 1;
  overflow: hidden;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.agree-terms-parent,
.frame,
.frame2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame2 {
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 0 var(--padding-7xs);
  box-sizing: border-box;
  max-width: 100%;
}
.agree-terms-parent,
.frame {
  flex-direction: column;
}
.frame {
  margin: 0;
  overflow: hidden;
  gap: var(--gap-6xl-8);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.agree-terms-parent {
  gap: var(--gap-mini-4);
  max-width: 100%;
}
.frame-child20 {
  height: 2.75rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.name-field-inner {
  align-self: stretch;
  height: 2.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xs-4) 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.footer2,
.name-field,
.sign-up-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.name-field {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-77xl);
}
.footer2,
.sign-up-area {
  width: 26.463rem;
  align-items: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.footer2 {
  width: 120rem;
  background-color: var(--color-lightgray);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-50xl) var(--padding-111xl) var(--padding-132xl)
    var(--padding-92xl);
  gap: var(--gap-xl);
}
.isles-savannah2 {
  height: 1.563rem;
  letter-spacing: 0.24em;
  display: inline-block;
}
.isles-savannah2,
.terms-and-condition2 {
  position: relative;
}
.contact5,
.privacy-policy5 {
  position: relative;
  display: inline-block;
  min-width: 7rem;
}
.contact5 {
  min-width: 4.313rem;
}
.link-to-terms,
.terms-privacy-contact {
  flex-direction: column;
  align-items: flex-start;
}
.link-to-terms {
  display: flex;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-18xl);
  font-family: var(--font-chesna-grotesk-light);
}
.terms-privacy-contact {
  gap: var(--gap-34xl);
  z-index: 1;
}
.footerframe,
.isles-savannah-footer,
.terms-privacy-contact {
  display: flex;
  justify-content: flex-start;
}
.isles-savannah-footer {
  height: 21.313rem;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -112.437rem;
  font-size: var(--font-size-lg);
  font-family: var(--font-chesna-grotesk-medium);
}
.footerframe {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-chesna-grotesk-regular);
}
@media screen and (max-width: 1575px) {
  .footer2 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1275px) {
  .footer2 {
    padding-left: var(--padding-36xl);
    padding-right: var(--padding-46xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .footer2 {
    padding: var(--padding-26xl) var(--padding-13xl) var(--padding-79xl)
      var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .div2 {
    font-size: var(--font-size-xl);
  }
  .sign-up-form-parent {
    gap: 1.875rem 3.75rem;
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .sign-up-for2,
  .travel-information10,
  .travel-information12 {
    font-size: var(--font-size-base);
  }
  .frame1,
  .frame3 {
    flex-wrap: wrap;
  }
  .name-field {
    gap: 3rem 6rem;
  }
  .terms-privacy-contact {
    gap: 1.625rem 3.313rem;
  }
}
