.arusha-to-tarangire,
.lake-manyara-to1,
.serengeti-national-park2,
.serengeti-national-park3,
.tarangire-national-park {
  margin-bottom: false;
}
.arusha-to-tarangire-national-p {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-14xl);
}
.arusha-to-tarangire-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 140.12%;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
}
.arusha-to-tarangire-national-p-wrapper {
  width: 53.688rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
  min-width: 53.688rem;
  max-width: 100%;
}
.frame-child59 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.all-meals-included2 {
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
}
.all-meals-included-breakfast-wrapper,
.instance-parent38 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.all-meals-included-breakfast-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.instance-parent38 {
  width: 19.063rem;
  height: 2.313rem;
  flex-direction: row;
  gap: var(--gap-smi);
}
.excluded4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
}
.path-22-icon30 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instance-child11 {
  position: absolute;
  height: 8%;
  width: 54%;
  top: 46%;
  right: 22.67%;
  bottom: 46%;
  left: 23.33%;
  background-color: var(--color-darkorange);
  z-index: 1;
}
.path-22-parent27 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
  opacity: 0.59;
}
.international-airfare-flights4 {
  flex: 1;
  position: relative;
  text-transform: capitalize;
}
.instance-parent39 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.path-22-icon31 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instance-child12 {
  position: absolute;
  height: 8%;
  width: 54%;
  top: 46%;
  right: 22.67%;
  bottom: 46%;
  left: 23.33%;
  background-color: var(--color-darkorange);
  z-index: 1;
}
.path-22-parent28 {
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  opacity: 0.59;
}
.path-22-icon32 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instance-child13 {
  position: absolute;
  height: 8%;
  width: 54%;
  top: 46%;
  right: 22.67%;
  bottom: 46%;
  left: 23.33%;
  background-color: var(--color-darkorange);
  z-index: 1;
}
.path-22-parent29 {
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  opacity: 0.59;
}
.path-22-icon33 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instance-child14 {
  position: absolute;
  height: 8%;
  width: 54%;
  top: 46%;
  right: 22.67%;
  bottom: 46%;
  left: 23.33%;
  background-color: var(--color-darkorange);
  z-index: 1;
}
.path-22-parent30 {
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  opacity: 0.59;
}
.instance-parent40,
.instance-parent41 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.instance-parent40 {
  gap: var(--gap-16xl);
}
.optional-excursions-and3 {
  flex: 1;
  position: relative;
  text-transform: capitalize;
}
.optional-excursions-and-activi-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.alcoholic-beverages-and3 {
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
}
.frame-parent96 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.visa-expenses3 {
  position: relative;
  text-transform: capitalize;
}
.visa-expenses-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.frame-parent95 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-4xl);
}
.frame-parent94,
.frame-parent95,
.frame-wrapper27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper27 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.frame-parent94 {
  width: 18.813rem;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.frame-parent93 {
  align-self: stretch;
  gap: var(--gap-3xl);
  font-size: var(--font-size-lg);
  font-family: var(--font-nexa-xbold);
}
.excluded-parent1,
.frame-parent92,
.frame-parent93 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.excluded-parent1 {
  align-self: stretch;
  gap: var(--gap-lgi);
  font-size: var(--font-size-11xl);
  font-family: var(--font-chesna-grotesk-black);
}
.frame-parent92 {
  width: 20.063rem;
  gap: var(--gap-22xl);
  min-width: 20.063rem;
  max-width: 100%;
}
.frame-child60 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.professional-english-speaking2 {
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
}
.professional-english-speaking-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.frame-parent97,
.instance-parent42 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.instance-parent42 {
  width: 20.188rem;
  height: 2.313rem;
  flex-direction: row;
  gap: var(--gap-smi);
}
.frame-parent97 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-86xl);
  min-width: 14.813rem;
  margin-left: -0.187rem;
}
.frame-parent90,
.frame-parent91 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent91 {
  width: 42.688rem;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 42.688rem;
  row-gap: 20px;
  font-size: var(--font-size-lg);
  font-family: var(--font-nexa-xbold);
}
.frame-parent90 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  margin-top: -0.812rem;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-chesna-grotesk-regular);
}
@media screen and (max-width: 1600px) {
  .arusha-to-tarangire-national-p-wrapper,
  .frame-parent91 {
    flex: 1;
  }
  .frame-parent90 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1275px) {
  .arusha-to-tarangire-national-p-wrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .excluded4 {
    font-size: var(--font-size-5xl);
  }
  .frame-parent92 {
    flex: 1;
  }
  .frame-parent97 {
    margin-left: 0;
  }
  .frame-parent91 {
    flex-wrap: wrap;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .arusha-to-tarangire-container {
    font-size: var(--font-size-xl);
    line-height: 1.75rem;
  }
  .excluded4 {
    font-size: var(--font-size-lg);
  }
  .frame-parent92 {
    gap: 1.25rem 2.563rem;
  }
  .frame-parent97 {
    gap: 3.25rem 6.563rem;
  }
}
