.logo-icon2 {
  height: 2.725rem;
  width: 11.875rem;
  position: relative;
  min-height: 2.75rem;
  cursor: pointer;
}
.packages {
  position: relative;
  display: inline-block;
  min-width: 4.625rem;
}
.f-r-a-m-e-packages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.about2 {
  position: relative;
  display: inline-block;
  min-width: 3.063rem;
  cursor: pointer;
}
.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.contact4 {
  position: relative;
  display: inline-block;
  min-width: 3.938rem;
  cursor: pointer;
}
.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.customize-you-trip {
  position: relative;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  font-family: var(--font-chesna-grotesk-black);
  color: var(--color-white);
  text-align: left;
}
.ctabutton1,
.navbar,
.navitems {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ctabutton1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-tomato-200);
  white-space: nowrap;
}
.ctabutton1:hover {
  background-color: var(--color-tomato-100);
}
.navbar,
.navitems {
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.navbar {
  align-self: stretch;
  height: 5.5rem;
  background-color: var(--color-antiquewhite);
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-4xl) var(--padding-2xl) var(--padding-2xl-4)
    var(--padding-24xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-chesna-grotesk-black);
}
@media screen and (max-width: 1275px) {
  .navbar {
    padding-left: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .navitems {
    display: none;
    gap: 3.375rem 1.688rem;
  }
}
