.logo-icon8 {
  height: 2.725rem;
  width: 11.875rem;
  position: relative;
  min-height: 2.75rem;
  cursor: pointer;
}
.packages3 {
  position: relative;
  display: inline-block;
  min-width: 4.625rem;
}
.packages-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.about5 {
  position: relative;
  display: inline-block;
  min-width: 3.063rem;
  cursor: pointer;
}
.about-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.contact10 {
  position: relative;
  display: inline-block;
  min-width: 3.938rem;
  cursor: pointer;
}
.contact-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.customize-you-trip3 {
  position: relative;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  font-family: var(--font-chesna-grotesk-black);
  color: var(--color-white);
  text-align: left;
}
.ctabutton6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-tomato-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.ctabutton6:hover {
  background-color: var(--color-tomato-100);
}
.navbar3,
.navitems3 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.navitems3 {
  margin: 0;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-35xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-chesna-grotesk-black);
}
.navbar3 {
  align-self: stretch;
  height: 5.5rem;
  background-color: var(--color-antiquewhite);
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-4xl) var(--padding-2xl) var(--padding-2xl-4)
    var(--padding-24xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
}
@media screen and (max-width: 1275px) {
  .navbar3 {
    padding-left: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .navitems3 {
    display: none;
    gap: 3.375rem 1.688rem;
  }
}
