@import url("https://fonts.googleapis.com/css2?family=Chewy:wght@400&display=swap");
@font-face {
  font-family: "Chesna Grotesk Black";
  src: url("/public/ChesnaGrotesk-Black.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Chesna Grotesk Regular";
  src: url("/public/ChesnaGrotesk-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Chesna Grotesk Light";
  src: url("/public/ChesnaGrotesk-Light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Nexa XBold";
  src: url("/public/Nexa-XBold.ttf");
  font-weight: 700;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-chesna-grotesk-light: "Chesna Grotesk Light";
  --font-chesna-grotesk-medium: "Chesna Grotesk Medium";
  --font-chesna-grotesk-black: "Chesna Grotesk Black";
  --font-chesna-grotesk-thin: "Chesna Grotesk Thin";
  --font-chesna-grotesk-regular: "Chesna Grotesk Regular";
  --font-chesna-grotesk-extra-light: "Chesna Grotesk Extra Light";
  --font-chewy: Chewy;
  --font-nexa-xbold: "Nexa XBold";

  /* font sizes */
  --font-size-lg: 1.125rem;
  --font-size-3xs: 0.625rem;
  --font-size-base: 1rem;
  --font-size-xl: 1.25rem;
  --font-size-6xl: 1.563rem;
  --font-size-11xl: 1.875rem;
  --font-size-5xl: 1.5rem;
  --font-size-16xl: 2.188rem;
  --font-size-2xl: 1.313rem;
  --font-size-9xl: 1.75rem;
  --font-size-26xl: 2.813rem;
  --font-size-8xl: 1.688rem;
  --font-size-17xl: 2.25rem;
  --font-size-lgi: 1.188rem;
  --font-size-xs: 0.75rem;
  --font-size-3xl-5: 1.406rem;

  /* Colors */
  --color-linen-100: #f5f0ea;
  --color-black: #000;
  --color-lightgray: #cfcccc;
  --color-darkorange: #f78f1f;
  --color-chocolate: #c45c00;
  --color-white: #fff;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #d9d9d9;
  --color-gainsboro-300: rgba(230, 230, 230, 0.09);
  --color-antiquewhite: #e4d8c6;
  --color-tomato-100: #e66340;
  --color-tomato-200: #cc4b25;
  --color-royalblue-100: #2669d4;
  --color-royalblue-200: #0143ae;
  --color-bisque: #f2dcc1;

  /* Gaps */
  --gap-34xl: 3.313rem;
  --gap-7xl: 1.625rem;
  --gap-18xl: 2.313rem;
  --gap-xl: 1.25rem;
  --gap-77xl: 6rem;
  --gap-29xl: 3rem;
  --gap-mini-4: 0.9rem;
  --gap-6xl-8: 1.613rem;
  --gap-base: 1rem;
  --gap-base-2: 0.95rem;
  --gap-21xl: 2.5rem;
  --gap-41xl: 3.75rem;
  --gap-11xl: 1.875rem;
  --gap-8xs: 0.313rem;
  --gap-86xl: 6.563rem;
  --gap-33xl: 3.25rem;
  --gap-60xl: 4.938rem;
  --gap-20xl: 2.438rem;
  --gap-lgi: 1.188rem;
  --gap-40xl: 3.688rem;
  --gap-10xl: 1.813rem;
  --gap-57xl: 4.75rem;
  --gap-19xl: 2.375rem;
  --gap-140xl: 9.938rem;
  --gap-22xl: 2.563rem;
  --gap-mid: 1.063rem;
  --gap-xs-7: 0.731rem;
  --gap-8xl: 1.688rem;
  --gap-27xl: 2.875rem;
  --gap-lg: 1.125rem;
  --gap-4xl: 1.438rem;
  --gap-9xl: 1.75rem;
  --gap-16xl: 2.188rem;
  --gap-3xl: 1.375rem;
  --gap-4xs: 0.563rem;
  --gap-smi: 0.813rem;
  --gap-5xs: 0.5rem;
  --gap-25xl: 2.75rem;
  --gap-35xl: 3.375rem;
  --gap-45xl: 4rem;
  --gap-13xl: 2rem;
  --gap-xs: 0.75rem;
  --gap-9xs: 0.25rem;
  --gap-2xs: 0.688rem;
  --gap-36xl: 3.438rem;
  --gap-61xl: 5rem;
  --gap-51xl: 4.375rem;
  --gap-17xl: 2.25rem;
  --gap-43xl: 3.875rem;
  --gap-12xl: 1.938rem;
  --gap-mini: 0.938rem;
  --gap-28xl: 2.938rem;
  --gap-15xl: 2.125rem;
  --gap-56xl: 4.688rem;
  --gap-130xl: 9.313rem;
  --gap-26xl: 2.813rem;
  --gap-5xl: 1.5rem;
  --gap-89xl: 6.75rem;
  --gap-37xl: 3.5rem;
  --gap-3xs: 0.625rem;
  --gap-3xl-5: 1.406rem;
  --gap-129xl: 9.25rem;
  --gap-55xl: 4.625rem;
  --gap-24xl: 2.688rem;
  --gap-2xl: 1.313rem;

  /* Paddings */
  --padding-xl: 1.25rem;
  --padding-50xl: 4.313rem;
  --padding-111xl: 8.125rem;
  --padding-132xl: 9.438rem;
  --padding-92xl: 6.938rem;
  --padding-26xl: 2.813rem;
  --padding-13xl: 2rem;
  --padding-79xl: 6.125rem;
  --padding-8xl: 1.688rem;
  --padding-36xl: 3.438rem;
  --padding-46xl: 4.063rem;
  --padding-6xs: 0.438rem;
  --padding-2xs-4: 0.65rem;
  --padding-base: 1rem;
  --padding-7xs: 0.375rem;
  --padding-6xs-6: 0.413rem;
  --padding-3xs: 0.625rem;
  --padding-6xs-7: 0.419rem;
  --padding-9xs: 0.25rem;
  --padding-5xs: 0.5rem;
  --padding-base-9: 0.994rem;
  --padding-5xs-9: 0.494rem;
  --padding-74xl: 5.813rem;
  --padding-2xs: 0.688rem;
  --padding-73xl: 5.75rem;
  --padding-25xl: 2.75rem;
  --padding-6xl: 1.563rem;
  --padding-3xl: 1.375rem;
  --padding-20xl: 2.438rem;
  --padding-10xl: 1.813rem;
  --padding-16xl: 2.188rem;
  --padding-19xl: 2.375rem;
  --padding-sm: 0.875rem;
  --padding-10xs: 0.188rem;
  --padding-95xl: 7.125rem;
  --padding-9xl: 1.75rem;
  --padding-4xl: 1.438rem;
  --padding-49xl: 4.25rem;
  --padding-15xl: 2.125rem;
  --padding-2xl: 1.313rem;
  --padding-lgi: 1.188rem;
  --padding-12xs: 0.063rem;
  --padding-41xl: 3.75rem;
  --padding-11xs: 0.125rem;
  --padding-14xl: 2.063rem;
  --padding-4xs: 0.563rem;
  --padding-63xl: 5.125rem;
  --padding-34xl: 3.313rem;
  --padding-275xl: 18.375rem;
  --padding-2xl-4: 1.338rem;
  --padding-24xl: 2.688rem;
  --padding-55xl: 4.625rem;
  --padding-mid: 1.063rem;
  --padding-mini: 0.938rem;
  --padding-lg: 1.125rem;
  --padding-53xl: 4.5rem;
  --padding-28xl: 2.938rem;
  --padding-xs: 0.75rem;
  --padding-23xl: 2.625rem;
  --padding-44xl: 3.938rem;
  --padding-22xl: 2.563rem;
  --padding-21xl: 2.5rem;
  --padding-11xl: 1.875rem;
  --padding-45xl: 4rem;
  --padding-43xl: 3.875rem;
  --padding-85xl: 6.5rem;
  --padding-12xl: 1.938rem;
  --padding-82xl: 6.313rem;
  --padding-47xl: 4.125rem;
  --padding-193xl: 13.25rem;
  --padding-119xl: 8.625rem;
  --padding-52xl: 4.438rem;
  --padding-179xl: 12.375rem;
  --padding-110xl: 8.063rem;
  --padding-60xl: 4.938rem;
  --padding-205xl: 14rem;
  --padding-127xl: 9.125rem;
  --padding-29xl: 3rem;
  --padding-37xl: 3.5rem;
  --padding-183xl: 12.625rem;
  --padding-112xl: 8.188rem;
  --padding-39xl: 3.625rem;
  --padding-94xl: 7.063rem;
  --padding-221xl: 15rem;
  --padding-101xl: 7.5rem;
  --padding-54xl: 4.563rem;
  --padding-27xl: 2.875rem;
  --padding-18xl: 2.313rem;
  --padding-8xs: 0.313rem;
  --padding-83xl: 6.375rem;
  --padding-5xl: 1.5rem;
}
